/*heading section*/

.heading-section {
	border-bottom: 1px solid #e6e6e6
}
 
.page-heading {
	color: #3fa9f5;
}

.btn-circle.btn-xl {
  width: 75px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.code-section {
	background: #333333;
}

.code-col {
	color: #959595;
}
.algorithm-steps {
}

.vr {
    width:1px;
    background-color:#000;
    position:relative;
    top:0;
    bottom:0;
}